[user]
  name = Carlos Chong
  email = carlos.chong@intechideas.com

[core]
  editor = nano

[pull]
  rebase = true

[init]
  defaultBranch = main

[url "git@github.com:"]
  insteadOf = https://github.com/
  
[alias]
	ac = !git add -A && git commit
